# OS cruft
*~
*.swp
.DS_Store

# Standard directories
previous
graphs
www/demo
demo.log
reports
mpfi-reports

# Related repositories
papers
plugins
rival
regraph

# Racket
*.zo
*.dep
herbie-compiled/
