# OS cruft
*~
*.swp
.DS_Store

# Standard directories
www/demo
demo.log

# Related repositories
/reports
papers
plugins
plugin
rival
regraph
egg-herbie/pkg
odyssey
egglog-herbie

# Racket
*.zo
*.dep
herbie-compiled/

# Python
.env/
