/* Standard Herbie header */

body { width: 800px; margin: 1em auto; font-family: sans; }

a {color: #2A6496; text-decoration: none; cursor: pointer}
a:hover {text-decoration: underline; color: #295785}

#large { margin: 2em 0; text-align: center; }
#large div { margin: 0 1em; display: inline-block; vertical-align: top; }
#large .number { font-size: 3em; display: block; }
@media print { #large { margin-top: 0; }}

/* Detail page layout */


figure { margin: 0; overflow: auto; }
#graph { float: left; }
#graph text { text-anchor: end; }
#graph .guide { stroke: rgb(60%, 60%, 60%); stroke-width: 1px; }
#graph .gridline { stroke: black; stroke-width: 3px; }
#graph .arrow {pointer-events: all; stroke-width: 2px; cursor: pointer;}
#graph:hover .arrow {stroke-opacity: .6; fill-opacity: 0.6;}
#graph:hover .arrow:hover { stroke-opacity: 1.0; fill-opacity: 1.0; }
figure ul { margin: 0; padding: 0; list-style-type: none; list-style-position: inside; text-align: center; }
figure li { padding: .5ex; display: inline-block; margin: .1em; }
figure li:hover { background: #e4e4e4; }
figure li.selected { background: #d3d3d3; }
figure a { color: black; text-decoration: none; display: block; }
#graph .no-data { text-anchor: middle; font-size: 18px; fill: rgb(60%, 60%, 60%)}

#toc {
    clear: both; 
    float: left; width: 200px; margin-left: -200px;
    list-style-position: inside; padding: 0;
    list-style-type: none; line-height: 1.5;
    position: fixed;
}

#toc a {color: #2A6496; text-decoration: none; border-left: 1em solid transparent; padding-left: 1ex; }
#toc a:hover {text-decoration: underline; color: #295785}

#reports { border-collapse: collapse; width:100%; position: relative; }
#reports tr.crash { color: red; }
#reports td { text-align: right; padding: .5em; overflow: hidden; font-size: 15pt; }
#reports tbody tr:hover {background-color: #e0f8d8; cursor: pointer;}
#reports td:nth-child(2), #reports th:nth-child(2) { text-align: center; display: none; }
#reports td:nth-child(3) { text-align: center; }
#reports thead { border-bottom: 1px solid black; height: 5em; vertical-align: bottom; }
#reports a {
    position: absolute; left: 0; right: 0; z-index: 100;
    padding: .5em; margin-top: -1.25em;
}
#reports thead:after {
    position: absolute; width: 300px; text-align: left; right: -325px;
    font-size: 32px; color: #888; content: attr(data-branch);
}
