path {
    fill: none;
}

line {
    stroke: black;
}

text {
    font-family: Arial;
    font-size: 9pt;
}

body {
    padding: 1em;
}

svg {
    width: 800px;
    margin: 0 auto;
    display: block;
}

#process-info {
    list-style: square;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#process-info li {
    margin: .5em 0;
}

#process-info .count {
    font-weight: bold;
}

#process-info .rule {
    text-decoration: underline;
}

#process-info code {
    display: block;
    margin: .5em 0 .5em 1em;
}
