
body {
    margin: 1em auto;
    font-family: sans;
}

dl {
    width: 80%;
    margin: 1em auto;
}

dt {
    font-weight: bold;
    float: left;
    width: 7em;
}

dd {
    display: inline;
}

#large {
    margin: 2em 0;
    text-align: center;
}

#large div {
    width: 300px;
    height: 5em;
    display: inline-block;
}

#large .number {
    font-size: 4em;
    display: block;
}

#results {
    border-collapse: collapse;
    width: calc(100% - 2em);
    margin: 2em 1em;
}

#results td {
    min-width: 5em;
    text-align: right;
    padding: 0 1em;
    height: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

#results td:nth-child(1) {text-align: left;}
#results td:nth-child(6) {text-align: left; font-family: monospace;}
#results td:nth-child(8) {text-align: center;}

tr.no-compare {background-color: #c86edf; color: #f7f7f7;}
tr.gt-target  {background-color: #0bd318;}
tr.eq-target  {background-color: #87fc70;}
tr.lt-target  {background-color: #ffdb4c;}
tr.eq-start   {background-color: #ff9500;}
tr.lt-start   {background-color: #ff5e3a; color: #f7f7f7;}
tr.crash      {background-color: #4a4a4a; color: #f7f7f7;}
tr.timeout    {background-color: #8e8e93; color: #f7f7f7;}
