body { width: 800px; margin: 1em auto; font-family: sans; }
section { margin: 5em 0; }

#program { background: #ddd; padding: 1em; text-align: center; font-size: 24px; }
#program .program { display: inline-block; }
#program .arrow { color: transparent; font-size: 0; }
#program .arrow:after { content: "⬇"; color: black; font-size: 24px; }
#program.horizontal .arrow { display: inline-block; }
#program.horizontal .arrow:after { margin: 0 1em; content: "⮕" }

#graphs { }
#graphs figure { margin: 1em auto; position: relative; padding-top: 200px; width: 400px; }
#graphs figcaption { text-align: left; }
#graphs figure img { position: absolute; top: 0; left: 0; }
#graphs figcaption button {
    float: right; margin: 0 .25em;
    border: 3px solid black; background: gray; color: transparent;
    height: 1.5em; width: 1.5em; border-radius: .75em;
    overflow: hidden;
}
#graphs figcaption button.Result { border-color: blue; background: lightblue; }
#graphs figcaption button.Target { border-color: green; background: lightgreen; }
#graphs figcaption button.Input { border-color: red; background: pink; }
#graphs figcaption button.inactive { background: white; }

#large { margin: 2em 0; text-align: center; }
#large div { margin: 0 1em; display: inline-block; vertical-align: top; }
#large .number { font-size: 3em; display: block; }
#large .icon { font-size: 3em; display: block; }
a.icon { color: black; opacity: 0.5; text-decoration: none; font-weight: bold; }
a.icon:hover { opacity: 1.0; }

#process-info, #process-info ol { list-style: square; width: 800px; }
#process-info h2 { margin-top: 3em; }
#process-info li {margin: .5em 0;}
#process-info .rule { text-decoration: underline; }
#process-info .event {
    list-style-type: none; display: block;
    margin: 1.5em 5em; font-size: 95%; color: gray;
}

.history li { position: relative; }
.history .error { position: absolute; right: 0; top: 0; color: #666; }
.history .error:after { content: " bits"; }

.timeline { height: 2em; }
.timeline-phase { height: 2em; display: inline-block; }
.timeline-phase.start    { background: #d3d7cf; }
.timeline-phase.setup    { background: #edd400; }
.timeline-phase.localize { background: #729fcf; }
.timeline-phase.series   { background: #fcaf3e; }
.timeline-phase.rewrite  { background: #e9b96e; }
.timeline-phase.simplify { background: #8ae234; }
.timeline-phase.prune    { background: #ad7fa8; }
.timeline-phase.regimes  { background: #a40000; }
#runtime .attachment { float: right; margin: 0 0 0 1em; }
#reproduce pre code:before { content: "$ "; font-weight: bold; }
a {color: #2A6496; text-decoration: none}
a:hover {text-decoration: underline; color: #295785}
