html {font-family: sans-serif;}

body {min-width: 400px; max-width: 650px; margin: 3em auto;}

h1, h2, h3 {letter-spacing: .125em; font-weight: 600;}
h1 {font-size: 18px; line-height: 1; margin: 1.5em 0 .5em 0;}
h2 {font-size: 16px; line-height: 1.125; margin: 1em 0 .25em 0; clear: both;}
h3 {font-size: 14px; line-height: 1.286; margin: 1em 0 .2em 0; clear: both;}

p, li, dd, blockquote, figcaption {
  font-size: 15px; line-height: 1.2;
  text-align: justify; -moz-hyphens: auto; -webkit-hyphens: auto; hyphens: auto;
  margin: .5em;
}

figcaption {font-size: 14px; line-height: 1.1;}

header {margin: 2em 0 2em 0; height: 60px;}
header h1 {margin: .5em 0 0 0; font-size: 16pt;}
header p {font-size: 14pt; margin: .5em 0 0 0;}
header img {float: left; width: 20%; margin: -3em 2em 0 0;}

.author-list {clear: both; text-align: center; padding: 0; width: 100%; margin: .5em 0 2em 0;}
.author-list li {display: inline; padding: 0 .5ex 0 0; max-width: 33%;}
.author-list li:after {content: ","}
.author-list li:last-child:after {content: ""}
svg {margin: 0 auto; display: block;}

pre {padding-left: 2.5em; font-size: 16px; font-family: monospace; background-color: #f1f1f1;}

div.column-container > div {width: 25%; float: left; padding: 0 4%}
div.column-container > div > h3 {margin: auto 10px}
div.column-container > div > ul {list-style: inside none; margin: 0; padding: 0;}

ul {padding-left: 1em;}
a {color: #2A6496; text-decoration: none}
a:hover {text-decoration: underline; color: #295785}

#formula input { width: 100%; font-size: 125%; }
#errors li { color: #800; }
#progress {
    font-size: 14px; font-family: sans-serif; background-color: #f1f1f1;
    padding-left: 0; overflow: scroll; overflow-y: auto;
}
#num-jobs { font-weight: bold; }

.function-list dt { font-weight: bold; float: left; width: 200px; clear: left; margin: 0 0 .5em 2em; }
.function-list dd { clear: right; }

.video { display: block; margin: auto; }
.abstract { padding: 1em 3em; position: relative; }
.abstract:before { content: "“"; font-size: 600%; position: absolute; top: 0; left: 0; font-family: serif; color: #ccc; }
.abstract:after { content: "”"; font-size: 600%; position: absolute; bottom: -.5em; right: 0; font-family: serif; color: #ccc; }
.paper-thumb { width: 30%; float: left; margin: 1em; }
.paper-thumb img { width: 100%; border: 1px solid #ccc; }
