body {
    width: 1024px;
    margin: 1em auto;
    font-family: sans;
}

dt {
    font-weight: bold;
    float: left;
    width: 7em;
}


#graphs {
    float: right;
    width: 500px;
}

#process-info, #process-info ol {
    list-style: square;
    width: 500px;
}

#process-info h2 {
    margin-top: 3em;
}

#process-info li {
    margin: .5em 0;
}

#process-info .event {
    list-style-type: none;
    margin: 1.5em 5em;
    display: block;
    font-size: 95%;
    color: gray;
}

#process-info .count {
    font-weight: bold;
}

#process-info .rule {
    text-decoration: underline;
}

#process-info pre {
    margin: .5em 0 .5em 1em;
}
