body { width: 800px; margin: 1em auto; font-family: sans; }

#large { margin: 2em 0; text-align: center; }
#large div { margin: 0 1em; display: inline-block; vertical-align: top; }
#large .number { font-size: 3em; display: block; }

#summary { margin: 2em 0; text-align: center; }
#summary > div { margin: 0 1em; display: inline-block; vertical-align: top; }
#summary div.formula { margin: 0 0 .25em; display: block; font-size: 140%; }
#summary .bits { font-weight: bold; }

dt { font-weight: bold; float: left; width: 7em; }


#graphs {
    float: right;
    width: 500px;
}

#process-info, #process-info ol {
    list-style: square;
    width: 500px;
}

#process-info h2 {
    margin-top: 3em;
}

#process-info li {
    margin: .5em 0;
}

#process-info .event {
    list-style-type: none;
    margin: 1.5em 5em;
    display: block;
    font-size: 95%;
    color: gray;
}

#process-info .count {
    font-weight: bold;
}

#process-info .rule {
    text-decoration: underline;
}

#process-info pre {
    margin: .5em 0 .5em 1em;
}
