name: Integration

on: [push]

env:
  RUST_BACKTRACE: full

jobs:
  hamming:
    name: "Integration tests (Hamming)"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        racket-version: [ '8.0', '8.12' ]
        precision: [ 'binary32', 'binary64' ]
    steps:
      - name: "Install Packages"
        run: sudo apt-get install -y libmpfr6 libmpfr-dev
      - name: "Install Racket"
        uses: Bogdanp/setup-racket@v1.11
        with:
          version: ${{ matrix.racket-version }}
      - name: Install Rust compiler
        uses: dtolnay/rust-toolchain@stable
        with:
            toolchain: stable
            components: rustfmt, clippy
      - uses: actions/checkout@master
      - name: "Install dependencies"
        run: make install
      - run: racket infra/ci.rkt --precision ${{ matrix.precision }} --seed 0 bench/hamming/
