name: Tool

on: [push]

env:
  RUST_BACKTRACE: full

jobs:
  shell:
    name: "Command-line tools"
    runs-on: ubuntu-latest
    steps:
      - name: "Install Packages"
        run: sudo apt-get install -y libmpfr6 libmpfr-dev
      - name: "Install Racket"
        uses: Bogdanp/setup-racket@v1.11
        with:
          version: "8.10"
      - name: Install Rust compiler
        uses: actions-rs/toolchain@v1.0.6
        with:
            toolchain: stable
            default: true
            override: true
            components: rustfmt, clippy
      - uses: actions/checkout@master
      - name: "Install dependencies"
        run: make install
      - run: <bench/tutorial.fpcore racket src/herbie.rkt shell >/tmp/out.fpcore
        name: "Run shell tool"
      - run: test `grep -c :herbie-time /tmp/out.fpcore` -eq 3
        name: "Test that shell output had three :herbie-time lines"
      - run: racket src/herbie.rkt improve bench/tutorial.fpcore /tmp/out.fpcore
        name: "Run improve tool"
      - run: test `grep -c :herbie-time /tmp/out.fpcore` -eq 3
        name: "Test that improve output had three :herbie-time lines"
      - run: racket src/herbie.rkt report bench/tutorial.fpcore /tmp/out/
        name: "Run report tool"
      - run: test -d /tmp/out/
        name: "Test that report created a directory"
      - run: test -f /tmp/out/index.html
        name: "Test that report created a index.html"
      - run: test -f /tmp/out/results.json
        name: "Test that report created a results.json"

  determinism:
    name: "Determinism"
    runs-on: ubuntu-latest
    steps:
      - name: "Install Packages"
        run: sudo apt-get install -y libmpfr6 libmpfr-dev
      - name: "Install Racket"
        uses: Bogdanp/setup-racket@v1.11
        with:
          version: "8.10"
      - name: Install Rust compiler
        uses: dtolnay/rust-toolchain@stable
        with:
            toolchain: stable
            components: rustfmt, clippy
      - uses: actions/checkout@master
      - name: "Install dependencies"
        run: make install
      - name: "Run (1st time)"
        run: racket src/herbie.rkt report --threads yes --seed 1 bench/hamming/rearrangement.fpcore graphs0
      - name: "Run (2nd time)"
        run: racket src/herbie.rkt report --threads yes --seed 1 bench/hamming/rearrangement.fpcore graphs1
      - name: "Check for determinism"
        run: racket infra/diff.rkt graphs0 graphs1
